@model MyStuff.Models.PagedList<MyStuff.Models.Photo>

@{
    ViewBag.Title = "Image Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/MyScripts")
@Styles.Render("~/Content/MyStyles")

<h2>Image Gallery</h2>

@using (Html.BeginForm("index", null, FormMethod.Get))
{

        <div class="pull-right col-lg-1">
            <a class="btn btn-success" data-modal="" href="/Photos/Gallery" id="btnGallery">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>




}
